# Logs
logs
*.log

# Runtime data
pids
*.pid
*.seed
*.pid.lock

# Dependency directories
node_modules/

# Optional npm cache directory
.npm

# Optional eslint cache
.eslintcache

# OS-specific files
.DS_Store
Thumbs.db

# Compiled binary addons (if any)
build/Release

# Environment variables file
.env

# Dependency lock files
package-lock.json
yarn.lock
